<a class="{{ model.className }}-toggle js-toggle" href="#" title="{{ i18n.measureDistancesAndAreas }}">{{ i18n.measure }}</a>
<div class="{{ model.className }}-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <ul class="tasks">
      <a href="#" class="js-start start">{{ i18n.createNewMeasurement }}</a>
    </ul>
  </div>
  <div class="js-measuringprompt">
    <p class="js-starthelp">{{ i18n.startCreating }}</p>
    <div class="js-results results"></div>
    <ul class="js-measuretasks tasks">
      <li><a href="#" class="js-deletepoint deletemarkup">{{ i18n.rollback }}</a></li>
      <li><a href="#" class="js-cancel cancel">{{ i18n.cancel }}</a></li>
      <li><a href="#" class="js-finish finish">{{ i18n.finishMeasurement }}</a></li>
    </ul>
  </div>
</div>
